{% extends "base.html" %}
{% block title %}Home pages{% endblock %}

{% block style%}
    * {
      margin: 0;
      padding: 0;
    }

    .time-item {
      width: 430px;
      height: 45px;
      margin: 0 auto;
    }

    .time-item strong {
      background: orange;
      color: #fff;
      line-height: 49px;
      font-size: 36px;
      font-family: Arial;
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .time-item>span {
      float: left;
      line-height: 49px;
      color: orange;
      font-size: 32px;
      margin: 0 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .title {
      width: 260px;
      height: 50px;
      margin: 200px auto 50px auto;
    }
{% endblock %}

{% block content %}
<h1 class="title">距离四级，还有</h1>

  <div class="time-item">
    <span><span id="day">00</span>天</span>
    <strong><span id="hour">00</span>时</strong>
    <strong><span id="minute">00</span>分</strong>
    <strong><span id="second">00</span>秒</strong>
  </div>
{% endblock %}

{% block script %}
     //获取DOM标签
    var day = document.getElementById('day');
    var hour = document.getElementById('hour');
    var minute = document.getElementById('minute');
    var second = document.getElementById('second');
    //计时器setInterval
    setInterval(function () {
      //new Date()获取本地时间
      var today = new Date();
      //添加结束时间
      var stopTime = new Date("2022/12/12 00:00:00");
      //获取时间戳（毫秒）
      var shenyu = stopTime.getTime() - today.getTime();
      //方法二
      console.log(shenyu);
      //转化为秒
      var zhuanHS = shenyu / 1000;
      shengyuD = parseInt(zhuanHS / (60 * 60 * 24));//转换为天
      //计算天的余数为小时
      shengyuH = parseInt(zhuanHS / (60 * 60) % 24);
      //计算小时的余数为分钟
      shengyuM = parseInt(zhuanHS / (60) % 60);
      //计算分钟的余数秒
      shengyuS = parseInt(zhuanHS % 60)
      day.innerHTML = shengyuD;
      hour.innerHTML = shengyuH;
      minute.innerHTML = shengyuM;
      second.innerHTML = shengyuS;
    }, 1000)


{% endblock %}