<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table style="text-align:center;position:absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
            <tr>
                <td><img src="/static/images/asuna.png" alt="Picture of Rango" /></td>
                <td><img src="/static/images/tongren.png" alt="Picture of Rango" /></td>
                <td><img src="/static/images/shinai.png" alt="Picture of Rango" /></td>
            </tr>
            <tr>
                <td>亚诗娜</td>
                <td>桐人</td>
                <td>诗乃</td>
            </tr>


        </table>
        <div style="text-align:center;position:absolute;margin: auto;top: 60%;left: 47%;">
            <strong>{{ boldmessage }}</strong>
            <a href="/about/">choise</a><br />
        </div>
</body>
</html>