{% extends "base.html" %}

{% block title %}
    主页
{% endblock %}

{% block content %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">欢迎来到这里！</h1>
          <p class="lead my-3">python项目开发,flask web开发,python爬虫开发,JAVA安卓app开发,unity游戏开发...这里是编程界的一个小角落,有着无穷的宝藏等着你去发掘。</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">继续阅读...</a></p>
        </div>
    </div>




  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">编程语言</strong>
          <h3 class="mb-0">Python</h3>
          <div class="mb-1 text-muted">November 29,2022</div>
          <p class="card-text mb-auto">Python由荷兰数学和计算机科学研究学会的吉多·范罗苏姆于1990年代初设计，作为一门叫做ABC语言的替代品。Python提供了高效的高级数据结构，还能简单有效地面向对象编程。</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">编程语言</strong>
          <h3 class="mb-0">C#</h3>
          <div class="mb-1 text-muted">November 29,2022</div>
          <p class="mb-auto">C#是微软公司发布的一种由C和C++衍生出来的面向对象的编程语言、运行于.NET Framework和.NET Core(完全开源，跨平台)之上的高级程序设计语言。C#是微软公司研究员Anders Hejlsberg的最新成果。</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        作品详情
      </h3>

      <article class="blog-post">

        <h2 class="blog-post-title">基于Android的智能安防系统</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于Android的智能灯控系统</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于Android的智能生活系统</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于Android的智能防疫系统</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于python的数据爬取项目合集</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <hr />
        <div class="container">
            <table class="table table-bordered table-striped">
                <tbody>
                    <thead>
                        <th>项目名称</th>
                    </thead>
                    <tr>
                        <td>boss直聘职位数据采集</td>
                        <td>pubmed论文信息采集</td>
                        <td>SCRAPY百度新闻爬取</td>
                    </tr>
                    <tr>
                        <td>教育信息网站采集</td>
                        <td>百度地图测距</td>
                        <td>完本小说爬取</td>
                    </tr>
                    <tr>
                        <td>股票数据采集</td>
                        <td>项目信息采集</td>
                        <td>去哪儿火车票爬取</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="blog-post-title">基于Django的小型web项目合集</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <hr />
        <div class="container">
            <table class="table table-bordered table-striped">
                <tbody>
                    <thead>
                        <th>项目名称</th>
                    </thead>
                    <tr>
                        <td>Django可视化爬取</td>
                        <td>Django语音识别</td>
                        <td>Django在线视频网站</td>
                    </tr>
                    <tr>
                        <td>Django在线点名系统</td>
                        <td>Django加密解密工具</td>
                        <td>Django日程记录器</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="blog-post-title">基于Django的在线简历系统(已上线)</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于FLASK的智能医院管理系统</h2>
        <p class="blog-post-meta">November 26, 2023 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于FLASK的截止日期计算器</h2>
        <p class="blog-post-meta">November 26, 2022 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于FLASK的语音识别</h2>
        <p class="blog-post-meta">November 26, 2022 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于FLASK的简单聊天机器人</h2>
        <p class="blog-post-meta">November 26, 2022 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于FLASK的学生信息管理系统</h2>
        <p class="blog-post-meta">November 26, 2022 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

        <h2 class="blog-post-title">基于c#的商品数据爬取分析可视化系统</h2>
        <p class="blog-post-meta">November 26, 2022 by <a href="#">CZY</a></p>
        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>



      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">关于</h4>
          <p class="mb-0">商业转载请提前与本人联系，非商业转载请注明出处，可以通过1060324818@qq.com联系到本人</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">日期档案</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2022</a></li>
            <li><a href="#">February 2022</a></li>
            <li><a href="#">January 2022</a></li>
            <li><a href="#">December 2022</a></li>
            <li><a href="#">November 2022</a></li>
            <li><a href="#">October 2022</a></li>
            <li><a href="#">September 2022</a></li>
            <li><a href="#">August 2022</a></li>
            <li><a href="#">July 2022</a></li>
            <li><a href="#">June 2022</a></li>
            <li><a href="#">May 2022</a></li>
            <li><a href="#">April 2022</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Gitee</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>


{% endblock %}

{% block script %}
    <script>
        // JavaScript 代码用于颜色变化
        const rows = document.querySelectorAll('.color-change');
        let colorIndex = 0;

        setInterval(() => {
            const colors = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-danger', 'bg-warning', 'bg-info'];
            rows.forEach((row) => {
                row.classList.remove(...colors); // 移除所有颜色类
                row.classList.add(colors[colorIndex]); // 添加当前颜色类
            });
            colorIndex = (colorIndex + 1) % colors.length; // 循环切换颜色
        }, 2000); // 每2秒变化一次
    </script>
{% endblock %}

