{% extends "base.html" %}

{% block title %}
	管理员界面
{% endblock %}

{% block content %}
	<table class="table" style="width:600px; margin:100px auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">名字</th>
          <th scope="col">语文</th>
          <th scope="col">数学</th>
          <th scope="col">英语</th>
        </tr>
      </thead>
      <tbody>
        {% for i in students: %}
            <tr>
                <th scope="row">{{a}}</th>
                <td>{{i['name']}}</td>
                <td>{{i['chinese']}}</td>
                <td>{{i['math']}}</td>
                <td>{{i['english']}}</td>
                <td><a href="/add">新增</a></td>
                <td><a href="/delete?name={{i['name']}}">删除</a></td>
                <td><a href="/change?name={{i['name']}}">修改</a></td>

            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
