{% extends "base.html" %}

{% block title %}
	修改学生界面
{% endblock %}

{% block content %}
	<form style="width:400px; margin:100px auto" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >姓名</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                    name = "username"
                    value = {{students['name']}}>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label" >语文</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail2"
                   aria-describedby="emailHelp"
                    name = "chinese"
            value = {{students['chinese']}}>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail3" class="form-label" >数学</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail3"
                   aria-describedby="emailHelp"
                    name = "math"
            value = {{students['math']}}>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail4" class="form-label" >英语</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail4"
                   aria-describedby="emailHelp"
                    name = "english"
            value = {{students['english']}}>
          </div>
          <button type="submit" class="btn btn-primary" >提交</button>
    </form>
{% endblock %}
