<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
    <form style="width:400px; margin:100px auto" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >姓名</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                    name = "username"
                    value = {{students['name']}}>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label" >语文</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail2"
                   aria-describedby="emailHelp"
                    name = "chinese"
            value = {{students['chinese']}}>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail3" class="form-label" >数学</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail3"
                   aria-describedby="emailHelp"
                    name = "math"
            value = {{students['math']}}>
          </div>
        <div class="mb-3">
            <label for="exampleInputEmail4" class="form-label" >英语</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputEmail4"
                   aria-describedby="emailHelp"
                    name = "english"
            value = {{students['english']}}>
          </div>
          <button type="submit" class="btn btn-primary" >提交</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
   </body>
</html>