{% extends "base.html" %}
{% block title %}Home pages{% endblock %}

{% block style%}
    * {
      margin: 0;
      padding: 0;
    }

    .time-item {
      width: 430px;
      height: 45px;
      margin: 0 auto;
    }

    .time-item strong {
      background: orange;
      color: #fff;
      line-height: 49px;
      font-size: 36px;
      font-family: Arial;
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .time-item>span {
      float: left;
      line-height: 49px;
      color: orange;
      font-size: 32px;
      margin: 0 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .title {
      width: 260px;
      height: 50px;
      margin: 200px auto 50px auto;
    }
{% endblock %}

{% block content %}
  <div class="time-item">
    <span><span id="year">00</span>年</span>
    <strong><span id="month">00</span>月</strong>
    <strong><span id="day">00</span>天</strong>
  </div>
{% endblock %}

{% block script %}
<script>
     //获取DOM标签
    var year = document.getElementById('year');
    var month = document.getElementById('month');
    var day = document.getElementById('day');
    //计时器setInterval
    setInterval(function () {
      const date = new Date();
      day.innerHTML = date.getDate();
      month.innerHTML = date.getMonth() + 1;
      year.innerHTML = date.getFullYear();
    }, 1000)

</script>
{% endblock %}