{% extends "base.html" %}

{% block title %}
	可视化界面
{% endblock %}

{% block content %}
	<div id="main" style="width: 600px;height:400px;margin:100px auto"></div>
{% endblock %}

{% block script %}
<script>
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '学生语文成绩分析'
        },
        tooltip: {},
        legend: {
          data: ['人数']
        },
        xAxis: {
          data: ['及格','良好','优秀','不及格']
        },
        yAxis: {},
        series: [
          {
            name: '人数',
            type: 'bar',
            data: {{stu}}
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
{% endblock %}
