<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask 语音识别</title>
    <link rel="stylesheet" href="static/styles/index.css">
</head>
<body>
    <div id="speechContainer">
        <h1>Upload new File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br>
            <input type="submit" id="submitbutton" value="Transcribe" />
        </form>
    </div>
    {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="seechtext">{{transcript}}</p>
        </div>
    {% endif %}
</body>
</html>