<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div style="text-align:center;position:absolute;margin: auto;top: 0;left: 0; bottom:0;right:0;">
            <form id="message_form" method="post" action="show_message">
                {% csrf_token %}
                加密:<input name="title">
                <input type="submit" name="submit" value="Create message" />
            </form>
            <form id="message2_form" method="post" action="show_message2">
                {% csrf_token %}
                解密:<input name="title2">
                <input type="submit" name="submit" value="Show message" />
            </form>
        </div>
</body>
</html>