<!DOCTYPE html>
<html lang="en">
<!--<from id="message_form" method="POST" action="add_message" >-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add a Message</h1>
    <div>
        <form id="message_form" method="post" action="add_message">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create message" />
        </form>
    </div>
</body>
</html>