{% extends "base.html" %}
{% block title %}user pages{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mes in messages %}
                <p>{{mes}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>weclome,{{user}}</p>
    <form action="#"method="POST">
        <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
        <input type="submit" value="submit"/>
    </form>
{% endblock %}

#\{\{\}\}是获取py代码向html代码中传递的值